<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Este é o template da nossa aplicação de tipos de investimento</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <h5>Este é o rodapé da página</h5>
    </footer>
</body>
</html>

