@model List<Domain.ViewModels.TipoInvestimentoViewModel>
@{
}

<h3>Tipos de investimento</h3>
<form action="/investimento/listadeinvestimentos" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Descrição</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var tipoInvestimento in Model)
            {
                <tr>
                    <td>@Html.CheckBox("isSelected", tipoInvestimento.Selected)</td>
                    <td>@tipoInvestimento.Descricao</td>
                    <td>@tipoInvestimento.Status</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">
        Enviar
    </button>
</form>
