@{
}

<div>
    <ul id="list-investimentos">

    </ul>
</div>

<script type="text/javascript">

    fetch('https://localhost:7172/tipoinvestimento', {
        method: 'GET',
    })
    .then(
        data => data.json()
    )
    .then(
        data => {
            var elements = "";
            const listInvestimentos = data.map(t => {
                elements += '<li>' + t.descricao + '</li>'
            })
            document.getElementById('list-investimentos').innerHTML = elements
        }
    )
    .catch(error => {
        console.log(error)
        alert('Enable to retrieve data')
        }
    )

</script>

